.chat__main__footer
  %form{method:"post", action:"/"}
    .chat__main__footer__input-box
      %input{type: "text", placeholder: "type a message", class: "input-box"}
      .chat__main__footer__input-box__label
        %label{class:"input-box-image", for:"message_image", class:"fa fa-image"}
        %input{class:"input-box__image__file", type:"file", name:"message[image]", id:"message_image"}
      .chat__main__footer__send
        %input{type:"submit", value:"send", class:"submit-btn"}
