.chat__main__message
  .chat__main__message__top
    %p test-user
    .chat__main__message__top__text
      %p こんにちは！
  .chat__main__message__time
    2019/10/2
  .chat__main__message__text
    %p さようなら